@media only screen and (max-width: 999px) {
   * {
      box-sizing: border-box;
   }
   header .wrap-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: unset;
      height: 100%;
   }
   header #logo {
      order: 1;
      position: unset;
      margin: auto;
      padding-top: 7px;
   }
   nav .wrap-nav {
      position: unset;
      text-align: center;
   }
   .menu ul li {
      display: inline-block;
      float: unset;
   }
   div.featured div.wrap-featured {
      width: 100%;
   }
   section#content div.wrap-content {
      width: 100%;
   }
   .zerogrid .col-1-4 {
      width: 50%;
      margin-left: unset;
   }
   footer .zerogrid {
      width: 100%;
   }
   footer .zerogrid .col-1-3 {
      width: 100%;
   }

}
@media only screen and (max-width: 755px) {
    header #logo {
      display: none;
   }
   header .menu {
      display: none;
   }
   header .wrap-header {
      height: 130px;
   }
   body > header > div > nav > div > div.minimenu {
      display: block;
   }
   body > header > div > nav > div > div.minimenu div {
      border-top: 1px solid white;
   }
   .zerogrid .col-1-4 {
      width: 100%;
   }
}