@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
body {
   margin: 0 auto;
   background-color: #EEEEEE;
   font-family: 'Lato', sans-serif;
}
section {
   background-color: white;
   width: 90%;
   margin: 1rem auto;
   box-sizing: border-box;
   padding: 2rem 4rem;
}
h1 {
   text-align: center;
   font-weight: 900;
}
p {
   text-align: center;
}
article {
   width: 80%;
   margin: 2rem auto;
}
form {
   display: inline-block;
   width: 45%;
   margin: 1rem 1rem;
   vertical-align: top;
}
input, i {
   display: block;
}
input {
   padding: 0.8rem 1rem;
   width: 19rem; 
   border-radius: 6px;
   border: 2px solid rgb(168, 168, 168);
}
input[type="checkbox"] {
   display: inline-block;
    width: 22px;
    height: 22px;
    margin-top: 1rem;
    float: left;
}
span {
   display: block;
   margin-top: 1.3rem;
}
i {
   position: relative;
   top: 38px;
   left: 304px;
   font-size: 2rem;
   color: #00FF00;
}
i#red {
   color: white;
   background: red;
   padding: 0 4px;
}
a {
   display: inline-block;
   margin-top: 1rem;
   color: red;
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
input[type="submit"] {
   margin: 2rem 0;
   width: 11rem;
   border: none;
   font-weight: bold;
   
}
input[type="submit"]:hover {
   cursor: pointer;
   background: #AFDF67;
}